$play-color: #299dcf;
$logo-color: #17385e;
// verifying class
.help.is-danger {
  color: red;
  display: block;
  font-size: 12px;
  margin-bottom: 12px;
}

// Reusable playlist container
.playlist-list {
  padding-top: 10px;
}

.playlist-art {
  display: inline-block;
  height: 100px;
  max-width: 100px;
}

.playlist-link {
  display: block;
}

.playlist-container {
  border: 2px solid #299dcf;
  border-radius: 5px;
  display: inline-block;
  height: auto;
  padding: 10px 2%;
  margin: 5px 2%;
  max-width: 500px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
  transition: opacity 0.5s
}