@import './colors.scss';
// Reusable
.margin {
  margin: 10px;
}

.white {
  color: white;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
  margin: 10px auto;
}

.btn {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  border: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 6px 10px;
}

.btn--main {
  background-color: #006692;
  border: 2px solid #17385e;
  color: white;
}

.btn--secondary {
  background-color: #299dcf;
  border: 2px solid #006692;
  color: white;
}

.btn--disabled {
  background-color: white;
  border: 2px solid #94c5da;
  color: #94c5da;
}

.btn--large {
  font-size: 18px;
  padding: 8px 10px;
}

.tag {
  font-family: 'Raleway', sans-serif;
  background-color: #299dcf;
  /*border: 2px solid #006692;*/
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 10px;
  margin-right: 10px;
}

.search-box {
  border: 0;
  border: 1px solid #299dcf;
  border-radius: 2px;
  padding: 5px;
  width: 250px;
  font-size: 14px;
}

.search-box::-webkit-input-placeholder {
  color: #94c5da;
}
.search-box::-moz-placeholder {
  color: #94c5da;
}

// verifying class
.help.is-danger {
  color: red;
  display: block;
  font-size: 12px;
  margin-bottom: 12px;
}

.button {
  background-color: $play-color;
  border: 2px solid $logo-color;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 2px 10px;
  margin-right: 10px;
  text-decoration: none;
}

// Reusable playlist container
.playlist-list {
  padding-top: 10px;
}

.playlist-art {
  display: inline-block;
  height: 100px;
  max-width: 100px;
}

.playlist-title {
  display: block;
}

.playlist-text {
  display: block;
}

.playlist-upload {
  color: $play-color;
  display: block;
  font-weight: bold;
  padding-bottom: -2px;
}

.playlist-upload:hover {
  color: #17385e;
}

.playlist-container {
  border: 2px solid $play-color;
  border-radius: 5px;
  display: inline-block;
  height: auto;
  padding: 10px 2%;
  margin: 5px 2%;
  max-width: 200px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
  transition: opacity 0.25s
}